.Education{
    background-color: #6B6E70;
    padding: 2% 20% 2% 20%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.educations{
    padding-top: 0%;
    display: flex;
    justify-content: space-between;
}