.Works{
    background-color: #474B4F;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #86C232;
    padding: 2px;
}
.grid-item {
    background-color: #6B6E70;
    border: 1px solid #222629;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}