.Works{
    background-color: #474B4F;
    padding: 2% 10% 2% 10%;
    justify-content: space-between;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item {
    padding: 2px;
    margin: 0%;
    text-align: center;
}